/*********************
	Defaults
**********************/

html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

figure h2 {
  font-weight: normal;
  font-style: italic;
}

h2 {
  font-size: 1.5rem;
}

[role="banner"] {
  text-align: left;
  font-style: italic;
}

img {
  width: 100%;
}

p {
  padding: 1rem;
  color: #fff;
}

[role="main"] {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto auto;
  gap: .75rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "image1 image2 image3";
}

.banner, .text {
  grid-area: banner;
}

figure {
  margin: 0;
}

.text {
  color: white;
  align-self: end;
}

.text h2 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.text p {
  margin-top: 0;
  margin-bottom: 0;
}
